@charset 'utf-8';

$bgColor: #0e1015;
$navBackColor: #101318;
$navDefaultColor: #7e828b;
$navHovertColor: #ececec;

* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  color: #0f0f0f;
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

#root {
  background: $bgColor;
  position: relative;
}

html::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지  */
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

